<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
</script>
<div class="container">
  <h3>Angular Question Answer Accordion List</h3>
  <div class="panel-group">
    <div class="panel panel-default" *ngFor="let qa of questions; index as i">
      <a class="panel-title" href="" data-toggle="collapse" aria-expanded="false" attr.data-target="#questions{{i}}">
        Question {{qa.id}}: {{qa.q}}
      </a>
      <div attr.id="questions{{i}}" class="collapse">
        <div class="panel-body">
          <h4>Answer</h4>
          <p> {{qa.a}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-login></app-login>