<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
</script>
<div class="main">
  <mat-tab-group class="tabs">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">account_circle</mat-icon>
        Login
      </ng-template>
      <app-login></app-login>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">help</mat-icon>
        QA
      </ng-template>
      <app-qa></app-qa>
    </mat-tab>
  </mat-tab-group>
</div>